{{ form_start(form) }}
{#{{ form_widget(form) }}#}
<div class="row">
	<div class="col">
		{{form_row(form.firstname)}}
	</div>
	<div class="col">
		{{form_row(form.lastname)}}
	</div>
</div>
<div class="row">
	<div class="col">
		{{form_row(form.email)}}
	</div>
	<div class="col">
		{{form_row(form.plainPassword)}}
	</div>
</div>
<div class="row">
	<div class="col">
		{{form_row(form.image)}}
	</div>
	<div class="col">
		{{form_row(form.role)}}
	</div>
</div>
<div class="row">
	<div class="col">
		{{form_row(form.location)}}
	</div>
</div>
<button class="btn btn-warning rounded-pill">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
