{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<div class="container bg-dark mb-3 mt-3  rounded" style="height:30rem;">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Logout</a>
					<a href="{{path('userProfile_index')}}">mon profil</a>
				</div>
			{% endif %}
			<div class="d-flex justify-content-center pt-3 pb-3">
				<h1 class="h3 fw-bold">CONNEXION</h1>
			</div>
			<label for="inputEmail">Email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class=" mb-3 form-control autocomplete="email" required autofocus">
			<label for="inputPassword">Mot de passe</label>
			<input type="password" name="password" id="inputPassword" class="form-control mt-2 mb-3" autocomplete="current-password" required>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div class="checkbox mt-2 mb-3">
				<label>
					<input type="checkbox" name="_remember_me">
					Se souvenir de moi
				</label>
			</div>
			<button class="btn btn-lg btn btn-primary mt-3 mb-4 rounded-pill" type="submit">
				connexion
			</button>
		</form>
		<p>
			<a class="btn btn-lg btn btn-primary mt-3 mb-4 rounded-pill" href="  {{path('app_forgot_password_request')}}">Mot de passe oublié</a>
		</p>
	</div>
{% endblock %}
