{% extends 'base.html.twig' %}

{% block title %}contact
{% endblock %}

{% block body %}
	<div class="container bg-light text-dark mt-2 mb-2 rounded">
		<h1 class="fw-bold mt ">Contacte</h1>
		{{form_start(form)}}
		<div class="row ">
			<div class="col">
				{{form_row(form.firstname)}}
			</div>
			<div class="col">
				{{form_row(form.lastname)}}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{form_row(form.email)}}
			</div>
			<div class="col">
				{{form_row(form.subject)}}
			</div>
		</div>

		{{form_row(form.message)}}
		{#{{form_widget(form)}}#}
		<button class="btn btn-info rounded-pill text-dark mt-3 mb-5">Envoyer</button>
		<a class="btn btn-primary rounded-pill mt-3 mb-5" href="{{path ("home")}}">Accueil</a>
		{{form_end(form)}}
	</div>
{% endblock %}
