{% extends 'base.html.twig' %}

{% block title %}
	Profil de
	{{app.user.firstname}}
{% endblock %}

{% block body %}

	<div class="container ">


		<div class="pro p-4 mt-5 mb-3 border border-secondary">
			<h1>Profil de
				{{app.user.firstname}}</h1>
		</div>
		{% if userProfile != null %}
			<div class="bio mb-4 ">
				<th>Biography</th>
				<td>{{ userProfile.Biography }}</td>
			</div>
			<div class="name p-5 fw-bold shadow p-3 mt-5 mb-5 bg-transparent bg-body rounded">
				<td>{{ userProfile.title }}</td>
			</div>
			{% if userProfile.image != null %}
				<div class="row" style="">
					<div class="col d-flex justify-content-center">
						<img class="picture mb-4  body-rounded" src="/image/uploads/{{userProfile.image}}" alt="image de ">
						</div>
						<div class="but  d-flex justify-content-end">					
						    <a class="btn btn-primary ms-2 mb-3 rounded-pill" href="{{ path ('userProfile_edit',{'id':userProfile.id})}}">editer</a>
						     <a class=" text-light btn btn-primary ms-2 mb-3 rounded-pill" href="{{ path ('message')}}">Messages</a>
					     </div>
				</div>
			{% endif %}
		</tr>
	</div>
{% else %}
	<a class=" text-light btn btn-primary rounded-pill" href="{{ path ('userProfile_new') }}">Nouveau</a>
{% endif %}{% endblock %}
