{% extends 'base.html.twig' %}

{% block title %}
	Profil de
	{{app.user.firstname}}
{% endblock %}

{% block body %}

	<div class="container d-flex ">
		<div class="side bg-secondary ">
			<h1>Mes infos</h1>
			<ol class="list-group list-group-numbered">
				<li class="list-group-item">A list item</li>
				<li class="list-group-item">A list item</li>
				<li class="list-group-item">A list item</li>
			</ol>
		</div>
		<div class=" profile mb-0">
			<table class="table bg-light text-dark">
				<tbody>
					<tr>
						<th>
							<h1>
								Profil de
								{{app.user.firstname}}</h1>
						</th>
						{% if userProfile != null %}
							<th>Id</th>
							<td>{{ userProfile.id }}</td>
						</tr>
					</tr>
					<tr>
						<th>Biography</th>
						<td>{{ userProfile.Biography }}</td>
					</tr>
					<tr>
						<th>Title</th>
						<td>{{ userProfile.title }}</td>
					</tr>
					{% if userProfile.image != null %}
						<tr>
							<th>Image</th>
							<td>
								<img class="picture" src="/image/uploads/{{userProfile.image}}" alt="image de "></td>
						</tr>
						<div>
							<a class="btn btn-primary " href="{{ path ('userProfile_edit',{'id':userProfile.id})}}">edit</a>
							<a class=" text-light btn btn-primary mb-3" href="{{ path ('message')}}">Messages</a>
						</div>

					{% endif %}

				</tbody>
			</table>
		</div>
	</div>

{% else %}

	<a class=" text-light btn btn-primary" href="{{ path ('userProfile_new') }}">Create new</a>

{% endif %}{% endblock %}
