{% extends 'base.html.twig' %}

{% block title %}UserProfile{% endblock %}

{% block body %}
<div class="container">
    <h1>Profil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ userProfile.id }}</td>
            </tr>
            <tr>
                <th>Biography</th>
                <td>{{ userProfile.Biography }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ userProfile.title }}</td>
            </tr>
            {% if userProfile.image != null %}
            <tr>
                <th>Image</th>
                <td> <img src="/image/uploads/{{userProfile.image}}" alt="image de{{userProfile.title}}"></td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <a class="btn btn-primary rounded-pill" href="{{ path ('admin_user_index') }}">Retour</a>
   
    {{ include('userProfile/_delete_form.html.twig') }}
    </div>
{% endblock %}
