{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}


	<div class="container rounded bg-dark mb-3 mt-3 ">
		<div class="d-flex justify-content-center pt-3 pb-3">
			<h1>Inscription</h1>
		</div>
		{{ form_start(registrationForm) }}
		<div class="row ">
			<div class="col">
				{{ form_row(registrationForm.firstname) }}
			</div>
			<div class="col">
				{{ form_row(registrationForm.lastname) }}
			</div>
		</div>
		{{ form_row(registrationForm.email) }}
		<div class="row">
			<div class="col">
				{{ form_row(registrationForm.role) }}
			</div>
			<div class="col">
				{{ form_row(registrationForm.location) }}
			</div>
		</div>
		{{ form_row(registrationForm.plainPassword , {
            label: 'Mot de passe'
        }) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<button type="submit" class="btn btn-info mt-4 mb-5 text-dark rounded-pill">Envoyer</button>
		{{ form_end(registrationForm) }}


	</div>
{% endblock %}
