{% extends 'base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block body %}
	<div class=" container bg-warning opacity-80 text-dark mt-5 mb-3 pb-4">
		<div class="row d-flex justify-content-center">
			<h1 class="lo  fw-bolder mt-4 ms-5 text-light">Articles</h1>
			<div class="col-md-6">
				<div class="card bg-light mt-5 mb-4 p-4 " style"width:100%;">
					<img src="/image/uploads/{{post.image}}" class="card-img-top shadow-lg p-3 mb-5 " alt="...">
					<h1 class="H mt-5">{{ post.title }}</h1>
					<p class="card-text-center mt-3">{{ post.content }}</p>
					<p>{{ post.author }}
						{{ post.createdAt ? post.createdAt|date('d-m-y H:i:s') : '' }}
					</p>
					<div class="lorem fw-bold">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit error, corporis in, voluptatem ad laborum accusantium tempore totam unde veniam atque accusamus necessitatibus quaerat quod? Blanditiis, qui? Nesciunt, consectetur perspiciatis!
																						Quaerat non illo soluta ea, earum explicabo eveniet illum fugiat reprehenderit officia similique hic. Quia amet reprehenderit, inventore facere similique eos ipsa, ullam illum mollitia accusamus eum impedit eligendi temporibus!
																						Animi, perferendis rem. Molestiae accusamus velit nam hic, officiis minima, natus asperiores laudantium, possimus quam iusto inventore maxime illo! Suscipit sed nobis dolor, expedita ut dolorum repellat quisquam accusantium. Repudiandae.
																						Expedita, nesciunt! Ipsum corrupti sed laboriosam sequi molestiae blanditiis natus dolorum sunt accusantium! Placeat aut, distinctio vero, molestias explicabo deleniti neque aspernatur optio nobis iste, suscipit recusandae temporibus odio ex!
																						Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit error, corporis in, voluptatem ad laborum accusantium tempore totam unde veniam atque accusamus necessitatibus quaerat quod? Blanditiis, qui? Nesciunt, consectetur perspiciatis!
																						Quaerat non illo soluta ea, earum explicabo eveniet illum fugiat reprehenderit officia similique hic. Quia amet reprehenderit, inventore facere similique eos ipsa, ullam illum mollitia accusamus eum impedit eligendi temporibus!
																						Animi, perferendis rem. Molestiae accusamus velit nam hic, officiis minima, natus asperiores laudantium, possimus quam iusto inventore maxime illo! Suscipit sed nobis dolor, expedita ut dolorum repellat quisquam accusantium. Repudiandae.
																						Expedita, nesciunt! Ipsum corrupti sed laboriosam sequi molestiae blanditiis natus dolorum sunt accusantium! Placeat aut, distinctio vero, molestias explicabo deleniti neque aspernatur optio nobis iste, suscipit recusandae temporibus odio ex!
					</div>


					<div class="letter d-flex justify-content-end ">
						<a class="btn btn-primary mt-5 mb-3  rounded-pill" href="{{ path('blog') }}">							
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle " viewbox="0 0 16 16">
									<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
								</svg>							
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>

{% endblock %}
