{% extends 'base.html.twig' %}

{% block title %}
	Messages
{% endblock %}

{% block body %}
	<section class="container ">
	      <div class="Msg row mt-4 bg-danger p-4">
		     <h1 class="fw-bold text-light">MESSAGES</h1>
		  </div>
		<div class="row" >
			<div class="col text-dark bg-info fw-bold mt-5 "style="height:20rem;">												   				
				<h4>Reçus :
					{{ app.user.received|length }} </h4>
					</div>
					<div class="col text-dark bg-info fw-bold mt-5">
				        <h4>Envoyés :
					    {{ app.user.sent|length }}</h4>
					</div>
					</div>
					<div class=" col p-3  mt-3 d-flex justify-content-between">
				<button class="btn btn-primary rounded-pill " type="button " data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Mes messages</button>
				<a href=" {{path("send")}}" class="btn btn-primary rounded-pill">Envoyer un message</a>
				<a class="btn btn-primary rounded-pill" href=" {{ path("userProfile_index")}} ">Retour</a>
			</div>
			
			
			<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
				<div class="offcanvas-header">
					<h2 id="offcanvasRightLabel">Mes messages</h2>
					<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<div class="list-group mb-2 ">
						<a href=" {{path("message")}}" class="list-group-item list-group-item-action active bg-info text-dark">Accueil</a>
					</div>
					<div class="list-group mb-2">
						<a href=" {{path("received")}}" class="list-group-item list-group-item-action active bg-info text-dark">Messages reçus</a>
					</div>
					<div class="list-group mb-2">
						<a href=" {{path("sent")}}" class="list-group-item list-group-item-action bg-info text-dark">Messages envoyés</a>
					</div>
					<div class="list-group ">
						<a href=" {{path("userProfile_index")}}" class="list-group-item list-group-item-action bg-info text-dark">profil</a>
					</div>
				</div>
			</div>
		</div>
	</div>

  </section>
{% endblock %}
