{% extends 'base.html.twig' %}

{% block title %} Messages
{% endblock %}

{% block body %}
	<section class="container bg-info text-dark mt-3 mb-3">
		<div class="row "style="height:30rem;">
			<div class="col-12">	
				<h2>Messages reçus</h2>
				<p>Vous avez reçu : {{app.user.received|length}} message </p>
        </div>
          <div class="col-3 fw-bold">De</div>
          <div class="col-3 fw-bold">Sujet</div>
          <div class="col-3 fw-bold">Date</div>
          <div class="col-3 fw-bold">Actions</div>
        {% for message in app.user.received %}
        {% if message.isRead == 0 %}
            {% set bold = "fw-bold" %}
          {% else %}
            {% set bold = "" %}          
        {% endif %}
          <div class="col-3 {{bold}}">{{message.sender.email}}</div>
          <div class="col-3 {{bold}}"><a href=" {{path("read",{id:message.id})}}">
          {{message.title}}</a></div>     
      <div class="col-3 {{bold}}">{{message.createdAt|date}}</div>
          <div class="col-3">
          <a href=" {{path("delete",{id:message.id})}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" 
              height="16" fill="currentColor" 
              class="bi bi-trash-fill text-light" 
              viewBox="0 0 16 16">
              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2
              2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1
              0v-7A.5.5 0 0 1 8
              5zm3 .5v7a.5.5 0 0 1-1 0v-7a
              .5.5 0 0 1 1 0z"/>
             </svg>
           </a>
                   
      </div>          
        {% endfor %}
			
      <div class="col">
				<button class="btn btn-primary mt-4 rounded-pill" type="button"
                 data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                  aria-controls="offcanvasRight">Retour</button>
                 <a href=" {{ path("send")}}" class="btn btn-primary mt-4 rounded-pill">
                 Envoyer un message
                 </a> 
			</div>
	<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h2 id="offcanvasRightLabel">Mes messages</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
   <div class="list-group mb-3 bg-info">
   <a href=" {{path("message")}}" class="list-group-item list-group-item-action ">Accueil</a>   
   </div>
    <div class="list-group mb-3">
   <a href=" {{path("received")}}" class="list-group-item list-group-item-action active">Messages reçus</a>   
   </div>
    <div class="list-group mb-3">
   <a href=" {{path("message")}}" class="list-group-item list-group-item-action">Messages envoyés</a>   
   </div>
    <div class="list-group">
   <a href=" {{path("userProfile_index")}}" class="list-group-item list-group-item-action">Mon profil</a>   
   </div>   
  </div>
</div>	
</div>

	</section>
{% endblock %}
