<nav class=" top  navbar navbar-expand-lg  text-light">
	<a class="navbar-brand" href="#">ZIKLY</a>
	<button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon "></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarScroll">
		<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="">
			<li class="nav-item">
				<a class=" Accueil nav-link active" aria-current="page" href="{{path ("home")}}">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewbox="0 0 16 16">
						<path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
					</svg>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path ("home_contact")}}">Contact</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Voir
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
					<li>
						<a class="dropdown-item" href=" {{path ('artist')}}">Artistes</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a class="dropdown-item" href=" {{ path ('blog')}}">News</a>
					</li>
					<li></li>
					<li><hr class="dropdown-divider"></li>
				</li>
			</li>
			<li>
				<a class="dropdown-item" href="#">A propos</a>
			</li>
		</ul>
	</li>
</ul>

<ul class="navbar-nav ms-auto">
	{% if is_granted("ROLE_ADMIN") == true %}
		<li class="nav-item">
			<a class="nav-link " href="{{path ("admin_index")}}">
				Page Admin
			</a>
		</li>
	{% endif %}
	{% if is_granted("ROLE_USER") == true %}
		<li class="nav-item">
			<a class="nav-link active " href="{{path ("app_logout")}}">
				Se déconnecter</a>
		</li>
	{% else %}
		<li class="nav-item ">
			<a class="nav-link active " href="{{path ("app_register")}}">
				Inscription</a>
		</li>
		<li class="nav-item ">
			<a class="nav-link active " href="{{path ("app_login")}}">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle ms-4 me-4" viewbox="0 0 16 16">
					<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
					<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
				</svg>
			</a>
		</li>
	{% endif %}
</ul></div></div></div></nav><div class="container">{% for classStyle, messages in app.flashes %}{% for message in messages %}<div class="alert alert-dismissible alert-{{classStyle}}">
<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
<p class="mb-0">{{message}}</p></div>{% endfor %}{% endfor %}</div>
